<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UI Tests">
	
	<listeners>
		<listener class-name = "common.RetryListener"/>
		<listener class-name = "org.uncommons.reportng.HTMLReporter" />
	
	</listeners>
	
  <test  name="Functioanal Testing">
    <classes>
      <class name="ui.PagetitleTest"/>
      <class name="ui.LoginTest"/>
    </classes>
  </test> <!-- Functioanal Testing -->
</suite> <!-- UI Tests -->
